.enforcementlog_begin{
	border: 1px solid #CCC;
	margin: 20px 14px 0px 19px;
	width: 133px;
	height: 22px;
	border-radius: 1px;
	float: left;
}
#inspectionlog_fdiv {
	float: left;
	width: 87%;
	background-color: #FFF;
	margin-left:5px;
}

#inspectionlog_table ,#inspectionlog_table2{
	width: 100%;
	text-align: left;
}

.pagination
{
	margin: 12px 0px 8px 0px;
}

th{
	text-align: left;
	height: 26px;
	background-color: #F3F3F3;
	color: #A4A4A4;
	font-weight: normal;
	padding-left:6px;
}

td {
	height: 46px;
	border-bottom: 1px solid #E9EBED;
	padding-left:6px;
}

#inspectionlog_fenye{
	width: 100%;
	text-align: center;
}


.inspection_td11,.inspection_th11{
	width:77px;
}
.inspection_td1,.inspection_th1{
	width:80px;
}
.inspection_td2,.inspection_th2{
	width:180px;
}
.inspection_td3,.inspection_th3{
	width:100px;
}
.inspection_td4,.inspection_th4{
	width:80px;
}
.inspection_td5,.inspection_th5{
	width:80px;
}
.inspection_td6,.inspection_th6{
	width:75px;
}
.inspection_td7,.inspection_th7{
	width:75px;
}
.inspection_td8,.inspection_th8{
	 width:100px;
 }
.inspection_td9,.inspection_th9{
	width:125px;
}

.inspection_list_img{
	margin-right:5px;
	width: 16px;
	height: 25px;
}

#inspectionlog_div_did {
	height: 679px;
	overflow: auto;
}

#inspection_button {
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin:10px 0px 8px 20px;
	background-color: #fff;
	color: #1697D9;
	border: 1px solid #C2C2C2;
}

#selectSourceid {
	padding-left: 3px;
	margin: 0px 20px 0px 15px;
	height: 30px;
}

/*
addClass
*/
.inspection_all_backcolor{
	background-color: #FFFEE0;
}

.inspection_hover_backcolor{
	background-color: #e8f5fc;
}