<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="role">
    <select id="listNoRoleModule" parameterType="map" resultType="map">
        select module,pageName from pageinfo where pagelink not in (select pagelink from buttoninfo where itemid in (select buttonid from rolebutton where roleid in (#{roleId}))) order by module 
    </select>
</mapper>