<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <select id="valiteData" parameterType="map" resultType="map"> 
<!--         select u.*,o.orgName,c.codeName dutyName from userinfo u,OrgInfo o,CommonCode c where u.OrgId=o.OrgId and u.DutyId=c.ItemId and ServiceFlag=1 and LoginableFlag=1 and LoginUid = 'zsh' and LoginPwd = '123'--> 
        select u.*,o.orgName,c.codeName dutyName from userinfo u,OrgInfo o,commoncode c where u.orgid=o.orgid and u.dutyId=c.itemId and LoginUid = #{loginUid} and LoginPwd = #{loginPwd}
    </select>
</mapper>