/* CSS Document */
#hints_toolbar{
	float: left;
	padding:7px 0 0 7px;
}

#hreoly-modal-div{
    height: 420px;
  
}
#hm_leftdiv{
    width: 195px;
    height: 424px;
    background-color:#F1F9FC;
    float: left;
}
#hm_meandiv{
    width: 160px;
    height: 425px;
    float: left;
    border-left: 1px solid #23A0DB;
    background-color: #FFF;
}
#hm_meandiv1{
    width: 100px;
    height: 461px;
    float: left;
    background-color: #F1F9FC;
}
#hm_rightdiv{
    width: 378px;
    height: 462px;
    float: left;
    background-color: #F1F9FC;
    overflow: auto;
}
.custom-modal{
    width: 805px;
}
.custom-modal1{
    width: 415px;
}
.modal-header{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #008ED6;
    color: #fff;
}

/*org css*/
#fudivid
{
	height: 425px;
	overflow:auto;
	overflow-x: hidden;
	font-family: "΢���ź�";
}

.treeopen{
	display:nheriti;
}

.treecolse {
  	display: none
}

.opentubiao
{
	background: url("../../images/open.png");
	background-repeat: no-repeat;
	height:19px;
	width:20px;
	margin:0px;
	float: left;
}

.opentubiao_stop
{
	background: url("../../images/Tree_stop_open.png");
	background-repeat: no-repeat;
	height:19px;
	width:20px;
	margin:0px;
	float: left;
}

.colsetubiao
{
	background: url("../../images/colse.png");
	background-repeat: no-repeat;
	height:19px;
	width:20px;
	margin:0px;
	float: left;
}
.colsetubiao_stop
{
	background: url("../../images/Tree_stop_close.png");
	background-repeat: no-repeat;
	height:19px;
	width:20px;
	margin:0px;
	float: left;
}

.nottubiao
{
	background-repeat: no-repeat;
	height:19px;
	width:20px;
	margin:0px;
	float: left;
}

.nottubiao_stop
{
	background-repeat: no-repeat;
	height:19px;
	width:20px;
	margin:0px;
	float: left;
}

.01{
	background-color: red;
}

#treedivid1{
    background-color:#F1F9FC;
	width:180px;
}
.org_tree_div{
   height: 390px;
}
.tree_stop_div{
	color:#A3A3A3;
}
.tree_nostop_div{
	color:#0093DD;
}
#orgtree_checkbox{
    top: 12px;
    left: 10px;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    float: right;
    margin-top: 10px;
}

#orgEdit{
	position:absolute;
	left:0px;
	top:0px;
	z-index:99;
	width:100%;
	height:100%;
}
.orgEdit_label{
	display:inline-table;
	width:80px;
	text-align:right;
	margin-right:10px;
}
.org_input{
    height:30px;
	padding-left:5px;
}
.orgEdit{
	height:30px;
	margin-top:10px;
}

#orgEdit_div{
	margin-top:10%;
	margin-left:35%;
	width:300px;
	height:170px;
	z-index:100;
	background-color:#0093DD;
	border:1px solid #213A7A;
	padding-top:20px;
}
#orgedit_no{
    margin-left:60px;
}
.orgEdit_title{
	color:#FFFFFF;
	text-align:center;
}
#orgEdit_p{
	color:#FF0000;
}
.tree_nostop_div_check{
    background-color:#FFF8CE;
}
#user_info_div1{}
#userList_div{
    height: 439px;
    margin-left: 10px;
    width: 632px;
    background-color:#FFFFFF;
    float: left;
}
.usersdiv{
    width: 850px;
    height: 503px;
}
.offical_div_td1{
    width: 150px;
    text-align: left;
    color:#39A9DA;
    padding-left: 10px;
	height:24px;
}
.offical_div_td3{
    color:#39A9DA;
	text-align:left;
	height:24px;
}
.orgInfo_div_td1{
    width: 150px;
    color:#39A9DA;
    padding-left: 10px;
	background-color:#F1F9FC;
	height:24px;
}
.offical_div_td3{
    width: 474px;
	border:0px;
	height:24px;
}
.orgInfo_div_td3{
    width: 457px;
	background-color:#F1F9FC;
	height:24px;
}
.orgListHead{
    background-color:#CCE8F6;
}
.orgInfo_div_stp_td1{
    width: 150px;
    color:#ccc;
    padding-left: 10px;
	height:24px;
}
.orgInfo_div_stp_td3{
    width: 457px;
    color:#ccc;
	height:24px;
}

/*userList css*/
.userInfo_div_td1,.userInfo_div_td2,.userInfo_div_td3,.userInfo_div_td4,.userInfo_div_td5,.userInfo_div_td6,.userInfo_div_td7,.userInfo_div_td8{
    text-align: left;
}
#userList_head{
    color: #159BE0;
}
.userInfo_div_td1{
    width: 80px;
    padding-left: 10px;
    color: #4EB2D7;

}
.userInfo_div_td2{
    width: 50px;
}
.userInfo_div_td3{
    width: 60px;
	padding-left:10px;
}
.userInfo_div_td4{
    width: 70px;
}
.userInfo_div_td5{
    width: 70px;
}
.userInfo_div_td6{
    width: 90px;
}
.userInfo_div_td7{
    width: 120px;
}
.userInfo_div_td8{
    width: 82px;
}
#userList_head{
    height: 24px;
    padding-top: 10px;
    background-color: #CCE8F6;
}
.userInfo_div_tr{
    background-color:#F1F9FC;
    height: 24px;
}

.userInfo_div_stp_tr,.userInfo_div_stp_tr .userInfo_div_td1{
    color:#9D9D9D;
}
.userInfo_div_trid{
    background-color: #FFF8CE;
}
#userEdit_div{
    margin-top:10%;
    margin-left:35%;
    width:300px;
    height:370px;
    z-index:100;
    background-color:#0093DD;
    border:1px solid #213A7A;
    padding-top:20px;
}
.search_button{
    float: right;
    height: 30px;
    border: 1px solid #1697D9;
    background-color:#FFF ;
    color: #1697D9;
    font-weight:bolder;
    width: 56px;
    margin-right: 10px;

}
.usersearch_input{
    float: right;
    height: 28px;
    border: 1px solid #1697D9;
    padding-left: 10px;
}
#userList_div_div{
    height: 422px;
    overflow: auto;
}
.hreoly-modal_label {
	margin-top:23px;
	display:inline-block;
    width: 63px;
    padding-right:8px;
    text-align: right;
	color:#3EA2E0;
    margin-right: 5px;
}
.hreoly-modal_input {
    border: 1px solid #018ED6;
    width: 270px;
    max-width: 319px;
}

#hreoly-modal_p1{
    margin-top: 10px;
}
#hreoly-modal_div1{
    overflow:hidden;
    clear:both;
}
#hreoly-modal_div1 label,#hreoly-modal_content label{
    float: left;
}
#hreoly-modal_content textarea{
    float: left;
    height: 190px;
    resize:none;
}
#hreoly-modal_content{
    overflow:hidden;
    clear:both;
    margin-top: 5px;
    margin-right: 9px;
    margin-bottom: 5px;
}
#hreoly-modal_send{
	display:inline-block;
    width: 277px;
    line-height:45px;
    text-align: center;
    background-color: #213A7A;
    color: #fff;
    margin:11px 0px 0px 76px;
    border:1px solid blue;
}
#hml_div{
    overflow:hidden;
    clear:both;
}
#hml_adjunct{
    float: left;
}
#hreoly-modal_sendl{
    margin-left: 10px;
    color: #FF0000 ;
}


/*
修改css
*/
#message_content_div{
	float: left;
}

#message_content_div .message_cation_ddiv1{
	line-height: 35px;
	padding-left:15px;
    background-color: #008ED6;
    color:#FFF;
}

#userList_head .userInfo_div_td4{
	padding-left:38px;
}

.userInfo_div_tr .userInfo_div_td4{
	padding-left:12px;
}

#hm_meandiv1 .userInfo_div_td3{
	padding-left:30px;
}

.hreoly-modal_input{
	margin-top:21px;
}


.message_therecipient,.hreoly-modal_input{
	height:30px;
}

#hreoly-modal_sendl{	
	margin:15px 0px 0px 40px;
}

#message_success_div{
    border: 1px solid #000;
    width: 430px;
}

#message_success_ddiv1 {
    line-height: 34px;
    background-color: #1F4E79;
    color: #FFF;
    text-align: center;
}

#message_success_ddiv1 span {
    display: inline-block;
    margin-left: 15px;
}


#message_success_ddiv2 label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 12px;
    line-height: 36px;
    background-color: #D6DCE4;
    margin-bottom: 10px;
}

.message_context {
    height:140px;
    margin-bottom: 10px;
}


#message_success_ddiv2 span {
    display: inline-block;
    width: 300px;
    line-height: 36px;
    background-color: #FFF;
    padding-left:6px;
}


/*
新添加的css
*/
#message_beenselected_fdiv {
    float: left;
    margin-left: 7px;
}

#message_beenselected_div2 {
    line-height: 35px;
    background-color: #008ED6;
    padding-left:15px;
    color:#FFF;
}

.message_limitlength_cla{
	display:inline-block;
	margin: 12px 0px 0px 76px;
	color: #0094DE;
}

#hreoly-modal-div input,textarea{
	padding-left:8px;
}

#message_beenselected_div {
    float: left;
    width: 106px;
    height: 462px;
    background-color: #FFF;
}

#message_beenselected_p{
	background-color: #CCE8F6;
	line-height: 38px;
	color:#008FD5;
	padding-left:9px;
}

#message_beenselected_table tr{
	line-height: 26px;
}

#message_beenselected_table .userInfo_div_td3{
	padding-left:25px;
}

#message_state_tishi{
	color:red;
	margin-left:30px;
	margin-top:10px;
}

.message_cation_ddiv2{
    background-color: #CCE8F6;
    line-height: 37px;
    color: #008FD5;
    padding-left: 9px;
}